#!/usr/bin/make -f
DH_OPTIONS=-a

install:
	dh_testdir
	dh_testroot
	dh_installdirs
	mkdir -p debian/n2view/usr/lib/n2view
	mkdir -p debian/n2view/usr/share/n2view/docroot
	cp -r n2view.app debian/n2view/usr/lib/n2view/n2view.app
	cp -r client/build/www debian/n2view/usr/share/n2view/docroot/n2
	ln -s /usr/lib/n2view/n2view.app/exec debian/n2view/usr/sbin/n2view
	install -b -o root -g root -m 0755 debian/extra/n2view.init debian/n2view/etc/init.d/n2view
	install -b -o root -g root -m 0644 analyze.thtml debian/n2view/etc/n2/analyze.thtml.example

grace:
	hg clone -r 1.0.6 ../grace grace
	cd grace/src/libgrace && ../../util/mkversion version.cpp
	rm -rf grace/.hg

grace/lib/libgrace.a: grace
	cd grace/src/libgrace && ./configure && make && ar cr ../../lib/libgrace.a application.o atoll.o cgi.o checksum.o cmdtoken.o commonkeys.o configdb.o currency.o daemon.o defaults.o dictionary.o eventq.o file.o filesystem.o fswatch.o http.o httpd.o httpd_fileshare.o ipaddress.o lock.o md5.o netdb.o process.o reg.o regexpression.o retain.o ringbuffer.o session.o smtp.o smtpd.o socketpool.o statstring.o stringdict.o str.o strutil.o system.o terminal.o tcpsocket.o thread.o timestamp.o tolower.o udpsocket.o valuable.o value.o value_ascii.o value_ini.o value_ip.o value_grace.o value_json.o value_msgpack.o value_php.o value_plist.o value_sort.o value_strformat.o value_xml.o value_csv.o value_cxml.o value_shox.o version.o xmlschema_root.o xmlschema_base.o xmlschema_misc.o xmlschema.o validator.o valueindex.o

build: grace/lib/libgrace.a
	GRACEINC=grace/include LIBGRACE=grace/lib/libgrace.a ./configure
	make n2view.exe n2passwd
	grace/util/mkapp --appid net.xl-is.svc.n2view n2view
	./buildclient

binary-indep:

binary-arch binary: build install
	#if [ -d debian/tmp ] ; then dh_install -a --sourcedir=debian/tmp ; fi
	dh_installdocs -a
	dh_installdeb -a
	dh_compress -a
	dh_fixperms -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

clean:
	dh_clean

debsrc: clean
	debian/rules clean
	rm -rf grace
	debian/rules grace
	dpkg-buildpackage -S

.PHONY: build binary binary-arch binary-indep clean install
