{!
function byName(a, b) {
   if (a.name != undefined && b.name != undefined) {
      a = a.name.toLowerCase();
      b = b.name.toLowerCase();
      if (a < b) return -1;
      if (a > b) return 1;
      return 0;
   }
}
function summarize(desc) {
   if (typeof desc != "undefined")
      return desc.match(/([\w\W]+?\.)[^a-z0-9]/i)? RegExp.$1 : desc;
}
function allClasses(file) {
   var classes = [];
   
   for (var s = 0; s < file.symbols.length; s++) {
      if (file.symbols[s].isa == "CONSTRUCTOR") {
         var thisClass = file.symbols[s];
         thisClass.name = file.symbols[s].alias;
         thisClass.outfile = file.symbols[s].alias+".html";
         thisClass.summary = summarize(file.symbols[s].classDesc);
         classes.push(thisClass);
      }
   }
   
   return classes.sort(byName);
}

file = data[0];
src = data[1];

!}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <title>{+file.filename+}</title>
   <link rel=stylesheet href="default.css" type="text/css" media=screen>
   <meta name="generator" content="JsDoc Toolkit 1.0">
   <style>
      body {
         font-size: 10pt;
         font-family: Helvetica, Arial, san-serif;
      }

      .TableHeadingColor { font-size: 18pt; font-weight: bold; background: #CCCCFF; }
      .TableRowColor { background: #FFFFFF; }
      
      .jsdoc_ctime
      {
         font-family: Arial, Helvetica, sans-serif;
         font-size: 9pt;
         text-align: right;
      }
      .jsdoc_copy
      {
         font-family: Arial, Helvetica, sans-serif;
         font-size: 9pt;
         text-align: left;
         font-style: italic;
      }
   </style>
</head>
<body>
<div style="text-align: center;">
   <h1>{+file.filename+}</h1>
</div>
<br/>
<h4>Summary</h4>
{+ file.overview.desc +}
<if test="file.doc">
   <for each="author" in="file.doc.getTag('author')">
      <b>Author:</b> {+author+}<br/>
   </for>
   <for each="version" in="file.doc.getTag('version')">
      <b>Version:</b> {+version+}<br/>
   </for>
</if>
<br/>
<hr>
<table border="1" width="100%" cellpadding="2">
   <tr>
      <td colspan="2" class="TableHeadingColor">Class Summary</td>
   </tr>
   <for each="classes" in="allClasses(file)">
      <tr class="TableRowColor">
         <td>
            <a href="{+classes.outfile+}" target="main">{+classes.name+}</a>
         </td>
         <td>
            {+classes.summary+}
         </td>
      </tr>
   </for>
</table>
<br/>
<hr>
{+ src +}
<hr>
<if test="JsDoc.opt.D && JsDoc.opt.D.copyright">
   <div class="jsdoc_copy">{+JsDoc.opt.D.copyright+}</div>
</if>
<div class="jsdoc_ctime">Documentation generated by <a href="http://jsdoctoolkit.org/" target="_parent">JsDoc Toolkit</a> {+JsDoc.VERSION+} on {+new Date()+}</div>
</body>
</html>